<div class="index-content">
  <div class="index-target ">
    <p class="middle-padding-top">目标</p>
    <p class="max-font"><%= @goals %></p>
    <div class="min-padding">
      <div class="float-block">
        <p>已完成</p>
        <p class="middle-font"><%= @finish_sum %></p>
      </div>
      <div></div>
      <div class="float-block">
        <p>完成率</p>
        <p class="middle-font"><%= @percent %>%</p>
      </div>
    </div>
  </div>
  <div class="index-select">
    <div class="float-block"><a>日</a></div>
    <div class="float-block"><a class="solid-thread">周</a></div>
    <div class="float-block"><a class="solid-thread">月</a></div>
    <div class="float-block"><a class="solid-thread">年</a></div>
  </div>
  <div class="index-report">

  </div>
  <div class="index-table">
    <ul>
      <li>平台</li>
      <li class="width-35">昨日完成</li>
      <li class="width-35">累计完成</li>
    </ul>
    <% @fix_goal.each do |goal| %>
    <ul>
      <li><%=goal[:name] %></li>
      <li class="width-35"><%=goal[:daily] %></li>
      <li class="width-35"><%=goal[:monthly] %></li>
    </ul>
        <% end %>
  </div>
</div>